gunicorn==19.1.1
Django==1.7.3
cffi==0.8.6
cryptography==0.7.2
cssselect==0.9.1
dj-database-url==0.3.0
dj-static==0.0.6
enum34==1.0.4
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
python-dateutil==2.4.0
pytz==2014.10
queuelib==1.2.2
requests==2.5.1
six==1.9.0
static3==0.5.1
w3lib==1.11.0
whitenoise==1.0.6
wsgiref==0.1.2
django-jsonfield==0.9.13
psycopg2==2.5.5
django-geojson==2.6.0
South==1.0.2
http://effbot.org/media/downloads/Imaging-1.1.7.tar.gz
django-leaflet==0.15.2
geopy==0.95.1
