<!DOCTYPE html>
<html>
  <head>
    <title>AuctionBuzz</title>
  </head>
  <body>

<div align="center">
 <iframe width="1500" height="900" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col4+from+1Ueqr-ZLRpr-bTLma4pdLHorPEdOk85YKbYx1_MIy+where+col8+in+(&#39;Allsop+Commercial&#39;%2C+&#39;Acuitus&#39;%2C+&#39;Barnard+Marcus&#39;%2C+&#39;Allsop+Residential&#39;%2C+&#39;Auction+House+London&#39;%2C+&#39;Drivers+%26+Norris&#39;%2C+&#39;Network+Auctions&#39;)&amp;viz=MAP&amp;h=false&amp;lat=51.49632879046988&amp;lng=-0.1401695476201814&amp;t=1&amp;z=11&amp;l=col4&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG"></iframe>
</div>
  </body>
</html>