{% extends 'base.html' %}

{% block body %}
<!-- Main -->
	<div id="main">
		<div class="container">

			<!-- Content -->
				<div class="row">
					<div id="content" class="12u">
						<article>
							<header>
								<h2>Total Gains</h2>
								<span class="byline">Pellentesque quis elit non lectus gravida blandit</span>
							</header>
							<div>
								<script type='text/javascript' src='https://public.tableausoftware.com/javascripts/api/viz_v1.js'></script>
									<div class='tableauPlaceholder' style='width: 100%; height: 800px;'>
										<noscript>
										<a href='#'>
										<img alt='TotalROI' src='https:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;Yi&#47;YieldMapPublication&#47;TotalROI&#47;1_rss.png' style='border: none'/>
										</a>
										</noscript>
										<object class='tableauViz' width='100%' height='800' style='display:none;'>
										<param name='host_url' value='https%3A%2F%2Fpublic.tableausoftware.com%2F'/>
										<param name='site_root' value=''/>
										<param name='name' value='YieldMapPublication&#47;TotalROI'/>
										<param name='tabs' value='no'/>
										<param name='toolbar' value='yes'/>
										<param name='static_image' value='https:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;Yi&#47;YieldMapPublication&#47;TotalROI&#47;1.png'/>
										<param name='animate_transition' value='yes'/>
										<param name='display_static_image' value='yes'/>
										<param name='display_spinner' value='yes'/>
										<param name='display_overlay' value='yes'/>
										<param name='display_count' value='yes'/>
										<param name='showVizHome' value='no'/>
										</object>
										</div>
							</div>

							<p>Aliquam libero. Vivamus nisl nibh, iaculis vitae, viverra sit amet, ullamcorper vitae, turpis. Aliquam erat volutpat. Vestibulum dui sem, pulvinar sed, imperdiet nec, iaculis nec, leo. Fusce odio. Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Donec leo. Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros, porttitor eu, tempus id, varius non, nibh. Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam. Vestibulum imperdiet. Aliquam erat volutpat. Vestibulum dui sem, pulvinar sed, imperdiet nec, iaculis nec, leo. Fusce odio. Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci.</p>
						</article>
					</div>
				</div>

		</div>
	</div>
{% endblock body %}